Repository RUB-EP1/amplitude-serialization, pull requests merged in 2024-05, with the labels that each got.

#19 Explain helicity recoupling factors
  description.md
Labels: 📝 Docs

#27 DX: add `osx-arm64` to supported Pixi platforms
  pixi.lock
  pixi.toml
  pyproject.toml
Labels: 🖱️ DX

#25 Build website that demonstrates model computations
  .github/workflows/docs.yml
  .gitignore
  .pre-commit-config.yaml
  .taplo.toml
  .vscode/extensions.json
  .vscode/settings.json
  README.md
  docs/.gitignore
  docs/HS3.md
  docs/_images/favicon.ico
  docs/_quarto.yml
  docs/description.md
  docs/index.md
  docs/julia/Manifest.toml
  docs/julia/Project.toml
  docs/julia/lc2pkpi.qmd
  docs/python/lc2pkpi.qmd
  models/HS3_base.json
  models/HS3_extended.json
  models/Lc2ppiK.json
  pixi.lock
  pixi.toml
Labels: 📝 Docs

#29 MAINT: organize and clean up files
  docs/HS3.md
  docs/julia/Manifest.toml
  json_options.jl
  models/HS3_base.json
  models/HS3_extended.json
  read_json.jl
Labels: 🔨 Maintenance

#30 FEAT: define JSON schema for amplitude model format
  .pre-commit-config.yaml
  .vscode/settings.json
  schema.json
Labels: 🖱️ DX

#28 DX: add spelling checker and improve texts
  .cspell.json
  .cspell/julia.txt
  .cspell/physics.txt
  .cspell/project.txt
  .pre-commit-config.yaml
  docs/HS3.md
  docs/_quarto.yml
  docs/description.md
  docs/index.md
  docs/julia/lb2pkg.qmd
  docs/julia/lc2pkpi.qmd
  schema.json
Labels: 📝 Docs

#48 DOC: improve texts and check spelling
  .cspell.json
  .cspell/julia.txt
  .cspell/project.txt
  docs/julia/lb2pkg.qmd
Labels: 📝 Docs

#56 FIX: downgrade `scipy`
  pixi.lock
  pixi.toml
Labels: 🐛 Bug, 🖱️ DX

#54 Standardize model and notebook file names
  .cspell/project.txt
  docs/_quarto.yml
  docs/index.md
  docs/julia/lb2pkg-lhcb-2765817.qmd
  docs/julia/lc2ppik-lhcb-2683025.qmd
  docs/julia/x2pipipi-compass-1391643.qmd
  docs/python/lc2ppik-lhcb-2683025.qmd
  models/lb2pkg-lhcb-2765817.json
  models/lc2ppik-lhcb-2683025.json
  models/x2pipipi-compass-1391643.json
Labels: 📝 Docs, ⚠️ Interface

#57 DOC: add links to JSON model
  docs/julia/lb2pkg-lhcb-2765817.qmd
  docs/julia/lc2ppik-lhcb-2683025.qmd
  docs/julia/x2pipipi-compass-1391643.qmd
  docs/python/lc2ppik-lhcb-2683025.qmd
Labels: 📝 Docs
